@using Microsoft.AspNet.Identity
@*user-end-partialView*@
@if (Request.IsAuthenticated)
{

    if (User.IsInRole("SuperAdmin"))
    {
        <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="hidden-xs">@User.Identity.GetUserName()</span>
            </a>
            <ul class="dropdown-menu">
                <!-- User image -->
                <li class="user-header">
                    <img src="~/Vendor/AdminAsset/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">

                    <p>
                        @User.Identity.GetUserName()
                        <small>Member since Nov. 2012</small>
                    </p>
                </li>
                <!-- Menu Footer-->
                <li class="user-footer">
                    <div style="text-align:center">
                        @using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutform" }))
                        {
                            @Html.AntiForgeryToken()
                            <a href="javascript:document.getElementById('logoutform').submit()" class="btn btn-default btn-flat">Sign out</a>
                        }
                    </div>
                </li>
            </ul>
        </li>
    }
    if (!User.IsInRole("SuperAdmin"))
    {
        <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="hidden-xs">@User.Identity.GetUserName()</span>
            </a>
            <ul class="dropdown-menu">
                <!-- User image -->
                <li class="user-header">
                    <img src="~/Vendor/AdminAsset/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">

                    <p>
                        @User.Identity.GetUserName()
                        <small>Member since Nov. 2012</small>
                    </p>
                </li>
                <!-- Menu Footer-->
                <li class="user-footer">
                    <div class="pull-right">
                        <a href="#" class="btn btn-default btn-flat">Sign out</a>
                    </div>
                </li>
            </ul>
        </li>
    }

}
else
{
    <p>Sign In</p>
}


